@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand: #16a34a;
  /* green-600 */
  --color-brand-foreground: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

.container-px {
  @apply px-4 sm:px-6 lg:px-8;
}